.s-payment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  margin: 10% auto;
}

.s-media {
  width: 100px !important;
  margin: 0 auto;
}

.payment-div {
  min-height: 65vh;
}

.payment-card {
  padding: 15px;
  margin: 10% auto;
  margin-bottom: 0%;
  float: none;
}

.pay-button {
  width: 100% !important;
  text-decoration: none;
}