.Card {
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.card-image {
  height: 110px;
  width: 250px !important;
  margin: 0 auto !important;
}

.card-button {
  margin: 0 auto !important;
}